.header {
    background: $main-color none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    padding: 20px 10px;
    text-transform: uppercase;
    
}

.exit {
    color: #fff;
    font-size: 13px;
    text-decoration: underline;
}

.header a{
	color: #fff;
    text-transform: uppercase;
}